*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%; // 1 rem = 10px;    
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color:  hsl(225, 100%, 98%);
    background-size: cover;
    font-family: 'Inter', sans-serif;
}

.App{
    width: 70%;
    margin:0 auto;
    
    &__header{
        text-align: center;
        padding: 2rem 0;
        font-size: 4rem;
        font-weight: 700;
    }

    &__info{
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin:0 auto;
        flex-wrap: wrap;
    }

    &__noLog{
        font-size: 3rem;
        font-weight: 700;
        margin: 0 auto;
        margin-top: 2rem;
    }

}